body {
  background-color: #f8f9fa;
  font-family: "Inter", sans-serif;
}

/* Container Sidebar */
.sidebar {
  width: 240px;
  height: 100vh;
  background: white;
  border-radius: 0 20px 20px 0;
  padding: 20px 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.profile-img {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  background-color: transparent;
}

.brand-name {
  font-weight: 700;
  font-size: 20px;
  color: #1a1a1a;
}

.nav-pills .nav-link {
  color: #6c757d;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 12px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  transition: all 0.3s;
}

.nav-pills .nav-link i {
  margin-right: 15px;
  font-size: 1.2rem;
}

.nav-pills .nav-link.active {
  background-color: #e8efff;
  color: #447cfd;
}

.nav-pills .nav-link:hover:not(.active) {
  background-color: #f8f9fa;
  color: #333;
}

.section-title {
  color: #adb5bd;
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 25px 0 15px 20px;
}

/* head */
body {
  display: flex;
  overflow-x: hidden;
}

.main-content {
  background-color: #fcfcfc;
  min-height: 100vh;
}

.navbar-header {
  height: 64px;
}

.cursor-pointer {
  cursor: pointer;
}

.filter-card {
  border-radius: 16px;
  border: 1px solid #f0f0f0;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 2px 4px rgba(0,0,0,0.02);
}

.filter-card:hover {
  background-color: #f8f9fa !important;
  border-color: #dee2e6;
}

.filter-card span {
  font-size: 14px;
}

.text-secondary {
  color: #8c8c8c !important;
}

.search-container input {
  box-shadow: none;
  background-color: #f0f0f0 !important;
  border-radius: 8px;
}